body {
  box-sizing: border-box;
}

div.currentColor {
  margin: 0 auto;
  height: 40px;
  background-color: black;
  color: white;
  line-height: 40px;
  width: 400px;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  margin-top: 400px;
}

.selectBtn {
  display: block;
  margin: 0 auto;
  background-color: transparent;
  color: darkgray;
  height: 30px;
  width: 100px;
  border-radius: 10px;
}

.selectBtn:hover {
  color: black;
  cursor: pointer;
}
